@import '../../assets/styles/mixins.styles.scss';
@import '../../assets/styles/varaiables.styles.scss';

.content-body-container {
  max-width: 100%;
  margin: 0 auto;

  // Search Box Component
  .content-search-box {
    border-bottom: 5px solid #000 !important;
  }
}