@import '../../assets/styles/varaiables.styles.scss';

.searchbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  background-color: $white;
  width: 95%;
  margin: 0 auto;

    .search-box {
      color: $dark-gray;
      padding: 6px 18px;
      font-size: 24px;
      border: none;
      border-bottom: 5px solid #000;
      outline: none;
      width: 100%;
    }
}
