@import '../../assets/styles/varaiables.styles.scss';

.searchbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  background-color: $white;
  width: 85%;

    .search-box {
      color: $dark-gray;
      font-size: 1.2rem;
      font-weight: $bold;
      border: none;
      border-bottom: 5px solid #000;
      outline: none;
      padding: 6px 18px;
      width: 100%;
      height: 40px;
    }
}
