@import '../../assets/styles/varaiables.styles.scss';
@import '../../assets/styles/mixins.styles.scss';

.catalog-item-container {
  margin: 20px 8px;

    h3 {
      font-weight: $bold;
    }

    .catalog-item-group {
      font-size: 1.2rem;

        p {
          color: $gray;
          font-weight: $regular;
          margin-bottom: 0;
        }
        
        .catalog-description {
          margin: 15px 0;
          line-height: 25px;
        }
        
        .catalog-number {
          font-size: 1.25rem;
          font-weight: $bold;
          margin-left: 10px;
        }

      }

    @include md {
      margin: 20px;

      h3 {
        font-size: calc(1.1rem + .6vw);
      }

      .catalog-item-group {
        font-size: 1.1rem;
      }
    }

    @include lg {
      margin: 30px;
    }

    @include xl {
      margin: 40px;
    }
}