@import '../../assets/styles/varaiables.styles.scss';

.catalog-item-container {
  font-size: 1.4rem;
  padding: 10px;
  margin: 20px 10px;

    .catalog-item-group {
      font-size: 1.2rem;

        p {
          color: $gray;
          font-weight: $regular;
        }
    
        .catalog-description {
          margin: 30px 0;
          line-height: 30px;
        }
      
        .catalog-number {
          color: $dark-gray;
          font-size: 1.25rem;
          font-weight: $bold;
          margin-left: 10px;
        }
      }


}