/////////////////////////////////
/////// variables
/////////////////////////////////

/// **colors
$dark-gray: #333;
$gray: #eee;

/// **fonts 
$bold: 800;
$medium: 700;
$regular: 400;

$ubuntu: 'Ubuntu', sans-serif;