/////////////////////////////////
/////// variables
/////////////////////////////////

/// **colors 
$black: #000;
$white: #eee;
$dark-gray: #333;
$gray: #696969;

/// **fonts 
$bold: 800;
$medium: 700;
$regular: 400;

$ubuntu: 'Ubuntu', sans-serif;
$dosis: 'Dosis', sans-serif;