@import '../../assets/styles/varaiables.styles.scss';
@import '../../assets/styles/mixins.styles.scss';

.checkbox-filter-container {
  font-family: $rajdhani;
  display: none;

    h1 {
      background-color: $white;
      font-size: 1.5rem;
      font-weight: $bold;
      padding: 20px;
      width: 100%;
      margin-bottom: .2rem;
      margin-top: 20px;
    }

    .form-container {
      background-color: $white;
      padding: 25px 20px;

        .form-header {
          font-size: 1.2rem;
        }

        .form-check {
          margin-left: 15px;
        }
    }

  @include xl {
    display: block;
  }
}